<!DOCTYPE html>

   <!-- ============ HEADER ============ -->
    <%- include ('./partials/header.ejs') %>  

<body>
    <h1 class="category-title">Mediterranean Style</h1>
    <p class="medT">“Because Mediterranean style homes are often found in warm, seaside locales, colors include sandy neutrals, striking blues, bright whites, and pops of vivid yellow, pink, orange, and green.”</p>

<div class="container2" >
<div class="collage2">
    <a href="/mediterranean"><button class="viewbttn">View Furniture</button></a>  

    <div class="img-collage2"> 

  <h2>Mediterranean living Room</h2>
  <div class="img-collage2">
    <img src="https://media.architecturaldigest.com/photos/63ffa46a8c1afa56f5e3d6d8/master/w_960,c_limit/Jeff_Andrews_Detroit_01.JPG"id="imgs">
    <img src="https://media.architecturaldigest.com/photos/63ffa2c0b6d2e827c343925d/master/w_960,c_limit/Jeff_Andrews_Detroit_12.JPG"id="imgs">
  </div>  

    <h2>Mediterranean Dining Room/Bedroom</h2>
      <img src="https://media.architecturaldigest.com/photos/63ffa416783acb3116f11bef/master/w_960,c_limit/Jeff_Andrews_Detroit_06.JPG" id="imgs">
      <img src="https://media.architecturaldigest.com/photos/63ffa3c9f734f7efa4203419/master/w_960,c_limit/Lucas_Old%20Las%20Palmas%2019.jpg" id="imgs">
   </div>


   <h2>Mediterranean Bathroom</h2>
  <div class="img-collage2"> 
    <img src="https://media.architecturaldigest.com/photos/63ffa28521b80480822a325c/master/w_960,c_limit/Jeff_Andrews_Detroit_19.JPG"id="imgs">
  </div>
  </div>
</div>

    <a href="/designs/mediProjects"><button class="top-bttn">TOP</button></a>

  <!-- ============ FOOTER ============ -->
  <%- include ('./partials/footer.ejs') %>

</body>
</html>