<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interior Design Studio</title>
</head>
<body>
    <style type="text/css">
        img{
            height: 800px;
            height: 800px;
        }
        </style>

    <a href="/designs">Interior Design Styles</a>

    <a href="/industrial"><button>View Furniture</button></a>

    <h1>Industrial Style</h1>
    <p>The most casual of all interior design styles is the industrial look, a trend born out of necessity in the 1960s that still thrives today.</p>
       
    <h2>Industrial Kitchens</h2>
    
    <img src="https://themoodguide.com/wp-content/uploads/2021/08/industrial-lighting-fixture-for-open-kitchen-large-metal-dome-lamps-suszi_saunders-min.png"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/one-wall-kitchen.jpg"></a>
    <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_1095/at%2Farchive%2Ff3bdbe64f52a6aa99d4f9e48e88081e530dc0e89"></a>
    <img src="https://themoodguide.com/wp-content/uploads/2021/08/industrial-farmhouse-leather-stools-large-metal-dome-lamps_@kimberleyinteriors_themoodguide-min.png"></a>
    <img src="https://themoodguide.com/wp-content/uploads/2021/08/chic-farmhouse-industrial-kitchen_photo-Andrew-Heiser-project-black-orchid-design-houzz_themoodguide-min.png"></a>

    <h2>Industrial Living Room</h2>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/Black-floor-reading-lamp.jpg"></a>
    <img src="https://curatedinterior.com/wp-content/uploads/2021/02/Floating-Bookshelves-on-Wall-of-Industrial-living-room-via-Murdock-Solon-Architects.jpg"></a>
    <img src="https://cdn.apartmenttherapy.info/image/upload/f_auto,q_auto:eco,c_fit,w_730,h_487/at%2Fhouse%20tours%2F2020-01%2FLula%20Poggi%2FPHOTO_12"></a>
    <img src="https://blog.displate.com/wp-content/uploads/2022/06/Industrial-Living-Room-Ideas_42.jpg">

    <h2>Industrial Dining Room</h2>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/Industrial-kitchen-diner.jpg"></a>


    <h2>Industrial Bathroom Decor Ideas</h2>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-bathroom-mirror.jpg"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-look-bathroom-vanity.jpg"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-bathroom-sink.jpg"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-bathroom-sinks.jpg"></a>
    <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/vintage-industrial-bathroom.jpg"></a>


</body>
</html>