<!DOCTYPE html>
  <!-- ============ HEADER ============ -->
  <%- include ('../partials/header.ejs') %> 

    <body>
        <h1>Add New Furniture</h1>
        <form action="/minimalist" method="POST">

            Title: <input type="text" name="title" /><br/>
            Store: <input type="text" name="store" /><br/>
            Image: <input type="text" name="image" /><br/> 
            Description: <input type="text" name="description" /><br/>
                         <!-- <input type="color" name="description" /><br/> -->
            Price: <input type="text" name="price" /><br/>
            Tags:  <input type="text" name="tags" /><br/>
            Link: <input type="text" name="link" /><br/>
            <input type="submit" name="" value="Add new Product"/>
        </form>

        <a href="/minimalist">Back to Minimalist Decor Ideas</a>
         <!-- ============ FOOTER ============ -->
    <%- include ('../partials/footer.ejs') %>
        
    </body>
</html>
