<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Add New Furniture</h1>
        <form action="/industrial" method="POST">

            Title: <input type="text" name="title" /><br/>
            Store: <input type="text" name="store" /><br/>
            Image: <input type="text" name="image" /><br/> 
            Description: <input type="text" name="description" /><br/>
                         <!-- <input type="color" name="description" /><br/> -->
            Price: <input type="text" name="price" /><br/>
            Tags:  <input type="text" name="tags" /><br/>
            Link: <input type="text" name="link" /><br/>
            <input type="submit" name="" value="Confirm"/>
        </form>


    <a href="/industrial">Back to Decor Ideas</a>

    </body>
</html>
